<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.expectusafterlun.androidtutorial"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".WeatherXmlParsing"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".HttpExample"
            android:exported="false" />
        <activity
            android:name=".Accelerate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SQLView"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SQLVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SQLiteExample"
            android:exported="true" />
        <activity
            android:name=".ExternalData"
            android:exported="false" />
        <activity
            android:name=".InternalData"
            android:exported="false" />
        <activity
            android:name=".SharedPrefs"
            android:exported="false" />
        <activity
            android:name=".Flipper"
            android:exported="false" />
        <activity
            android:name=".SimpleBrowser"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Count"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.COUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPlay"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.TEXTPLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Email"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera"
            android:exported="true"
            android:label="Camera Application"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Data"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opens"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.OPENEDCLASS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.FULLSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GFX"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.GFX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GFXSurface"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.GFXSURFACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoundStuff"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.SOUNDSTUFF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slider"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.SLIDE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tabs"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="ch.expectusafterlun.androidtutorial.TABS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".PointlessWidget"
            android:exported="true"
            android:label="@string/app_name">
                <intent-filter >
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/widget_stuff" />
        </receiver>
        <activity
            android:name=".WidgetConfig"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GLExample"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>